.admin{
    background-image: linear-gradient(to bottom,#03002B,#03002b80),url(../../static/images/img/log-in.png);
    background-size: cover;
    margin: 0;
    height: 100vh;
}

.admin__inside{
    width: 40px;
    position: relative;
    left: 20%;
    top: 35%;
}

.admin__login__img{
    width: 288px;
    height: 288px;
}

.admin__form{
    width: 397px;
    height: 372px;
    background: #03002B;
    border-radius: 0px 2px 2px 2px;
}

.admin__login__login{
    margin: -80px 0 0 60px;
}

.admin__form__inside{
    padding: 1px 0 0 50px;
}

.admin__inside__option{
    margin: 0;
}

.admin__inside__option__left{
    width: 188px;
    height: 37.17px;
    background: #B38A58;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.53);
    border-radius: 2px;
}

.admin__inside__option__right{
    width: 180px;
    height: 38px;
    background: #03002B;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.53);
    border-radius: 2px;
}
.admin__inside__option__right{
    cursor: pointer;
}


.admin__inside__option__right:hover{
    width: 180px;
    height: 38px;
    background: #03002B;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.53);
    border-radius: 2px;
}

.admin__form__inside h5{
    font-family: 'Mont-Bold';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 130.7%;
    color: #B38A58;
    margin: 50px 0 30px 0;
}

.admin__inside__option__left p{
    font-family: 'Mont-Bold';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 130.7%;
    text-align: center;
    color: #03002B;
    position: relative;
    top: -2px;
}

.admin__inside__option__right{
    margin: 0 0px 0 29px;
}

.admin__inside__option__right p{
    font-family: 'Mont-Bold';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 130.7%;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: -2px;
}

.admin__form__inside__input{
    width: 273.03px;
    height: 43.07px;
    background: #F2F2F2;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 0 0 20px 0;
}

.admin__form__inside__ckeckout{
    width: 14.6px;
    height: 14.6px;
    background: #F2F2F2;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 3px;
}

.admin__form__inside__ckeckout__text{
    font-family: 'Mont-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    position: relative;
    line-height: 130.7%;
    color: #FFFFFF;
    bottom: 8px;
    left: 6px;
}