.buyed{
    margin: 15px 200px 40px 200px;
}

.buyed__progress{
    margin: 50px 0 20px 0;
}

.buyed__progress h1 {
    font-family: 'Mont-Bold';
    font-style: normal;
    font-weight: 800;
    font-size: 29px;
    line-height: 135.3%;
    letter-spacing: -0.02em;
    color: #03002B;
    margin: 20px 0 0 0;
}
.buyed__progress h4 {
    font-family: 'Mont-Light';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 135.3%;
    letter-spacing: -0.02em;
    color: #4F4F4F;
    margin: 5px 0 60px 0px;
}

.buyed__progress__img{
    width: 563px;
    height: 292.86px;
    margin: 0px 0 0 14vw;

}

.btn__secundary--buyed__progress{
    margin: 26px 0 0 0;
}

.buyed__progress__media{
    width: 19px;
    height: 19px;
    position: relative;
    top: 17px;
}

.buyed__bar{
    margin: 50px 0 0px 0;
}

.buyed__bar p{
    margin: 0 150px 0px 0px;
    font-style: normal;
    font-family: 'Mont-Bold';
    font-weight: 800;
    font-size: 19px;
    line-height: 135.3%;
    letter-spacing: -0.02em;
    color: #4F4F4F;
}

.buyed__bar p:hover{
    color: #03002B;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.buyed__text{
    width: 661px;
    font-family: Buenard;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 151.3%;
    color: #000000;
    margin: 28px 0 30px 0px;
}

.buyed__font{
    font-family: 'Mont-Bold';
    font-size: 18px;
    font-weight: 500;
    line-height: 1.52;
    letter-spacing: -0.48px;
    margin: 0;
}

.buyed_see__more{
    font-family: 'Mont-Bold';
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: -0.51px;
  color: #b38a58;
  margin: 0 0 40px 0;
}

.buyed_see__more:hover{
    cursor: pointer;
    color: #0d0056;
    transition: all 0.2s ease-in-out;
}

.buyed__teacher{
    margin: 30px 0 80px 0px;
}

.buyed__teacher__tittle{
    font-family: 'Mont-Bold';
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: -0.4px;
    color: #03002b;
    margin: 0 0 17px 0;
}

.buyed__teacher__inside{
    margin: 0px 0px 0px 20px;
}

.buyed__teacher__photo{
    width: 198px;
  height: 198px;
}

.buyed__teacher__socials{
    margin: 0;
    width: 21px;
    height: 17px
}

.buyed__teacher h3{
    margin: 0;
    font-size: 17px;
    font-family: Mont-Semi-Bold;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: -0.51px;
    color: #03002b;
}
.buyed__teacher p{
    font-size: 15px;
    font-weight: 600;
    font-family: Mont-Regular;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: -0.45px;
    color: #000000;
    margin: 0;
}

.buyed__teacher strong{
    font-family: 'Mont-Bold';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 135.3%;
    letter-spacing: -0.03em;
    color: #000000;
    margin: 20px 30px 20px 0;
}

.buyed__teacher__info{
    width: 572px;
    font-family: Judson;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 152.3%;
    color: #000000;
    margin: 0;
}

.buyed__course__variant__text{
    margin: 30px 0 30px 0;
}

.buyed__course__variant__text h4{
    font-family: 'Mont-Bold';
    font-weight: bold;
    line-height: 1.19;
    letter-spacing: -0.51px;
}

.buyed__course__variant__text li{
    margin: 10px 0 0 0;
}