/* <-------DISCOVERY-------> */

.discovery__container {
    margin: 0 200px 0 200px;
    transition: all 0.2s ease-in-out;
  }
  
  .change {
    margin: 0px 0px 0px 200px;
  }
  .discovery__title {
    width: 447px;
    font-family: 'Mont-Bold', Roboto;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    padding: 52px 0 50px 0;
    letter-spacing: -0.02em;
    color: #03002b;
  }
  
  .discovery__course {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 17px 24px;
    grid-template-areas: '. . .';
  }
  @media screen and (max-width: 1325px) {
    .discovery__course {
      grid-template-rows: 1fr 1fr;
      gap: 15px 60px;
      transition: all 0.2s ease-in-out;
    }
  
    .discovery__diploma {
      display: none;
    }
  
    .discovery__container {
      margin: 0px 200px 0 150px;
      transition: all 0.2s ease-in-out;
    }
  }
  
  .discovery__box {
    width: 350px;
  }
  .discovery__box__price__off {
    position: absolute;
    margin: 30px 0px 0px -4px;
  }
  
  .discovery__box__price__off__letter {
    color: #ffffff;
    font-family: 'Mont-Bold', Roboto;
    position: absolute;
  }
  .discovery__box__price__off__letter p {
    position: relative;
    top: 17px;
    left: 10px;
  }
  
  .discovery__box__img {
    margin: 0px 0px -3px 0;
  }
  
  .discovery__box__img__class {
    width: 350px;
    height: 290px;
  }
  
  .discovery__box__info {
    background-image: linear-gradient(to top, #dad9d99e, #f2f2f2);
    margin: -4px 0 0 0;
  }
  
  .discovery__box__info__padding {
    padding: 10px 0px 0px 21px;
  }
  
  .discovery__box__info__title {
    font-style: normal;
    font-weight: 800;
    font-family: 'Mont-Bold', Roboto;
    font-size: 22px;
    line-height: 135.3%;
    letter-spacing: -0.02em;
    color: #03002b;
    margin: 0;
  }
  
  .discovery__box__info__name {
    width: 94px;
    margin: 0;
    font-family: 'Mont-Bold', Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #000000;
  }
  
  .discovery__box__info__teach {
    width: 330px;
    padding: 3px 0px 0px 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 135.3%;
    letter-spacing: -0.03em;
    color: #4f4f4f;
  }
  
  .discovery__box__info__price {
    font-style: normal;
    margin: 10px 0 0 0;
    font-weight: bold;
    font-size: 21px;
    letter-spacing: -0.02em;
    color: #03002b;
    font-family: 'Mont-Bold', Roboto;
  }
  
  .discovery__box__info--fix {
    margin: 5px 0 0 0;
  }
  
  .discovery__box__info__student {
    margin: 0px 0px 0px 5px;
  }
  
  .discovery__box__info__price__before {
    margin: 13px 0px 0px 10px;
    font-style: normal;
    color: #828282;
    font-family: Mont-light;
    font-weight: 700;
  }
  
  .discovery__box__info strong {
    text-decoration: line-through;
    font-family: Mont-light;
  }

  .discovery__box__info__icon{
    display: block;
    width: 45px;
    height: 38px;
    background-size: cover;
    margin: 7px 0px 30px 0px;
    background-image: url(../../static/images/svg/shopping-car-squad.svg);
  }
  
  .discovery__box__position {
    position: relative;
    top: 7px;
  }
  
  .discovery__diploma {
    width: 280px;
    height: 478px;
    background-image: linear-gradient(to bottom, #03002be0, #03002bed),
    url(../../static/images/img/principal-image.png);
    background-size: cover;
    background-position: -240px;
    margin: 0 0px 0 20px;
  }
  
  .discovery__diploma__star {
    margin: 50px 0 0 45%;
    width: 27px;
  }
  
  .discovery__diploma__title {
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    font-family: 'Mont-Bold', Roboto;
    line-height: 113.3%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #b38a58;
  }
  
  .discovery__diploma__text {
    width: 237px;
    font-style: normal;
    font-size: 15px;
    line-height: 131.3%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #f2f2f2;
    margin: 30px 0px 40px 25px;
  }
  
  .discovery__diploma__img {
    margin: 0;
    height: 350px;
    position: relative;
    left: -50px;
    top: -30px;
  }
  /* <-------DISCOVERY-------> */
  
  /* <-------COURSE-------> */
  
  .hero__view {
    width: auto;
    height: 462px;
    background-image: linear-gradient(to bottom, #1c1b5200, #03002bd6),
    url(../../static/images/img/course-hero.png);
    background-size: cover;
    margin: 0;
  }
  
  .hero__title__view {
    width: 620px;
    font-family: 'Mont-Bold', Roboto;
    font-size: 37px;
    letter-spacing: -0.02em;
    color: #ffffff;
    margin: 0px;
    text-align: center;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    line-height: 118.3%;
  }

  .hero__view--courses__plus__title{
    width: 435px;
    font-family: 'Mont-Bold';
    font-style: normal;
    font-weight: 800;
    font-size: 41px;
    line-height: 117.3%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin: 0;
    padding: 90px 0px 0px 200px;
  }
  /* <-------COURSE-------> */
  
  /* <-------ANIMATION-------> */
  .discovery__box__info__icon:hover {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-image: url(../../static/images/svg/shopping-car-squad-black.svg);
  }
 
  
  /* <-------ANIMATION-------> */