/* <-------NAVBAR-------> */

.navbar {
  display: grid;
  grid-template-columns: 130px 1fr;
  align-items: center;
  text-align: center;
  background: #03002b;
  height: 56px;
}

.navbar__img {
  width: 35px;
  height: 33px;
  position: relative;
  right: 22px;
  bottom: 5px;
}

@media screen and (max-width: 900px) {
  nav {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 1em;
  }
}
.navbar__menu__shopping__cart {
  width: 30px;
  position: relative;
  bottom: 5px;
  margin: 0 0 0 10px;
}

.navbar__element__list {
  display: flex;
  color: #f2f2f2;
  list-style: none;
}

.navbar__menu {
  font-style: normal;
  margin: 0px 0 0 20px;
  list-style: none;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
}

.navbar__menu:hover {
  color: #b38a58;
  // transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}
.navbar__menu a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 15px;
  font-family: Mont-Light;
  width: 150px;
  margin: 0 10px 0 0;
}

.navbar__menu--fix {
  width: 4vw;
  margin: 0 0px 0px 10px;
}

.navLinks {
  font-size: 1.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #f2f2f2;
}

.navbar__justify__self {
  justify-self: end;
  margin: 0 40px 0px 0px;
}
/* <-------ANIMATION-------> */

.navLinks:hover {
  color: white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 1em 1em;
}


// .navbar__menu a:hover {
  //   color: #b38a58;
  // }
  .navbar__menu img:hover {
    color: #b38a58;
    filter: invert(0.5) sepia(9);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  .navbar__img:hover {
    filter: invert(0.5) sepia(9);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  /* <-------ANIMATION-------> */
  
  /* <-------NAVBAR-------> */