.navbarOptions {

  .logout {
    border: none;
    background: transparent;
    color: #B38A58;
    font-size: 15px;
    margin-bottom: 10px;
    outline: none;
  }

  .logout:hover {
    color: gray;
  }

  .columnUl {
    flex-direction: column;
    text-align: right;
  }

  .searchInput {
    width: 240px;
    height: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.22);
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.22);
  }

  .inner-addon {
    position: relative;
  }

  .inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }

  .left-addon .glyphicon {
    left: 0px;
  }

  .right-addon .glyphicon {
    right: 0px;
  }

  .left-addon input {
    padding-left: 30px;
  }

  .right-addon input {
    padding-right: 30px;
  }
}