.payment{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: ". . . .";
    margin: 50px 200px 0 200px
}

.way-to-pay{
    margin: 0;
    
}

.way-to-pay__text{
    font-family: 'Mont-Bold';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 135.3%;
    letter-spacing: -0.03em;
    color: #03002B;
    margin: 0 0 10px 63px;
}
.way-to-pay__input{
    width: 448px;
    height: 37px;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
}


.way-to-pay__input--email{
    margin: 3px 0px 31px 63px;
}

.way-to-pay__input__box{
    margin: 20px 0 0 20px;
}

.way-to-pay__input__box__title{
    font-family: 'Mont-Bold';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 135.3%;
    letter-spacing: -0.03em;
    color: #000000;
}

.way-to-pay__input__required{
    font-family: 'Mont-Light';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 135.3%;
    letter-spacing: -0.03em;
    color: #4F4F4F;
    margin: 15px 0 15px 0;
}

.way-to-pay__input--card{
    width: 321px;
    margin: 0px 0 16px 0px;
}

.way-to-pay__input--MM{
    width: 176px;
    margin: 0px 10px 0 0px;
}

.way-to-pay__input--segurity{
    width: 176px;
}

.way-to-pay__box{
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    width: 550px;
    height: 482px;
    position: relative;
    padding: 15px 0 0 60px;
}

.way-to-pay__box__subtext{
    font-family: 'Mont-Light';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 135.3%;
    letter-spacing: -0.03em;
    color: #4F4F4F;
}

.way-to-pay__box__card{
    width: 133.38px;
    height: 68px;
    left: 263px;
    top: 253px;
    background: #FFFFFF;
    box-shadow: 0px 0px 9px rgba(6, 0, 37, 0.2);
    display: inline-block;
    margin: 24px 14px 33px 0px;
}

.way-to-pay__box__card__img{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.way-to-visa{
    width: 41px;
    height: 23px;
    margin: 0px 10px 10px 60px;
}
.way-to-master{
    width: 35px;
    height: 34px;
}
.way-to-express{
    width: 37px;
    height: 28px;
    margin: 0px 10px 0 10px;
}

.btn__secundary--way-to-pay{
    margin: 40px 0 0 97px;
}

.btn__secundary--way-to-pay:hover {
    background-color: #03002B;
    border: 2.5px solid #03002B;
    color: #ffffff;
    transition: all 0.2s ease-in-out;
  }

.details{
    width: 468px;
    height: 193px;
    background: #F2F2F2;
}

.details__inside{
    margin: 30px 30px 0px 60px;
}

.details__inside__title__edit{
    position: relative;
    left: 170px;
    top: 20px;
}

.details__inside__title__edit p{
    margin: 25px 10px 0 0px;
}

.details__inside__title{
    font-family: 'Mont-Bold';
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 113.3%;
    color: #03002B;
    margin: 33px 0 15px 0;
}

.details__inside__total{
    color: #B38A58;
}

.details__inside__total p{
    margin: 0;
    font-family: 'Mont-Light';
    font-size: 14px;
}

.details__inside__total strong{
    font-family: 'Mont-Bold';
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 135.3%;
    letter-spacing: -0.02em;
    margin: 0;
}

.details__inside__total__before{
    font-family: 'Mont-Light';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 135.3%;
    text-decoration-line: line-through;
    color: #828282;
    position: relative;
    top: 25px;
    left: 20px;
}

.details__inside__detail{
    margin: 20px 0 0 0;
    font-family: 'Mont-Light';
    font-size: 16px;
}

.details__inside__detail p{
    margin: 0 10px 0 0px;
    font-family: Mont-Regular;
    font-size: 16px;
}

.what__is__buying h1{
    font-family: 'Mont-Bold';
    font-style: normal;
    margin: 30px 0 20px 0px;    
    font-weight: 800;
    font-size: 18px;
    line-height: 135.3%;
    letter-spacing: -0.03em;
    color: #000000;
}

.what__is__buying p{
    width: 419px;
    font-size: 17px;
    font-family: Judson;
}

.secure__pay{
    margin: 50px 200px 50px 200px;
}

.secure__pay__img{
    width: 73.35px;
    height: 86.3px;
}

.secure__pay__inside{
    margin: 0px 0px 0px 20px;
}

.secure__pay__inside h2{
    font-family: 'Mont-Bold';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 135.3%;
    letter-spacing: -0.03em;
    color: #000000;
}
.secure__pay__inside p{
    width: 375px; 
    font-family: Judson;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140.3%;
    color: #000000;
}

.congratulation{
    height: 100vh;
    width: 100vw;
    background: #ffffffc9;
    position: absolute;
    z-index: 1;
    top: 100px;
}

.congratulation__exit{
    cursor: pointer;
    display: block;
    width: 14px;
    height: 16px;
    position: relative;
    right: -520px;
    top: 20px;
    background-size: cover;
    background-image: url(../../static/images/svg/icon-x.svg);
}
.congratulation__exit:hover{
    filter: sepia(181);
}

.congratulation__box{
    width: 558px;
    height: 601px;
    background: #FFFFFF;
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.25);
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 80px;

}

.congratulation__box__inside{
    padding: 50px 0 0 150px;
}

.congratulation__box__inside h1{
    font-family: 'Mont-Bold';
    margin: 0px 0px 0px 30px;
    color: #b38a58;
}
.congratulation__box__inside h4{
    font-family: Mont-Semi-Bold;
    position: relative;
    right: 80px;
    font-style: normal;
    font-weight: 800;
    font-size: 21px;
    line-height: 140.3%;
    text-align: center;
    letter-spacing: -0.03em;
    color: #0D0056;
    bottom: 20px;
}

.btn__secundary--congratulation{
    margin: 0;
    position: relative;
    right: -30px;
    top: -10px;
}

.payment__footer{
    margin: 10px 200px 10px 200px;
}

.payment__footer h5{
    margin: 20px 17vw 0px 0px;
    font-family: 'Mont-Light';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 113.3%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #574D8D;
}
.payment__footer li{
    list-style: none;
    margin: 0 20px 0 0;
    font-family: 'Mont-Light';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 135.3%;
    letter-spacing: -0.03em;
    color: #BDBDBD;
    cursor: pointer;
}
.payment__footer li:hover{
    color:#b38a58;
    transition: all 0.2s ease-in-out;
}