.podcast__hero{
    height: 402px;
    background-image:linear-gradient(to bottom, #1c1b5200, #03002bd6), url(../../static/images/img/hero-podcast.png);
    background-size: cover;
}

.podcast__hero--youtube{
    background-image:linear-gradient(to bottom, #1c1b5200, #03002bd6), url(../../static/images/img/hero-youtube.png);
}

.podcast__spotify img{
    margin: -40px 200px 0 200px;
}

.podcast__hero__inside{
    margin: 0;
    padding: 140px 0 0 200px;
}

.podcast__hero__title{
    margin: 0;
    width: 590px;
    font-family: 'Mont-Bold';
    font-style: normal;
    font-weight: 800;
    font-size: 41px;
    line-height: 108.3%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.podcast__hero__text{
    width: 485px;
    font-family: Judson;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 133.3%;
    color: #F2F2F2;
}

.podcast__hero__text__song{
    width: 111px;
    font-family: 'Mont-Light';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 117.3%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin: 46px 20px 0 20vw;
}

.podcast__hero__text__song--youtube{
    margin: 70px 0px 0 30vw;
}

.podcast__hero__img{
    margin: 0 0 0 10px;
}

.podcast__hero__img--youtube{
    margin: 50px 0 0 -20px;
}

.podcast__information{
    margin: 50px 200px 50px 200px;
}

.podcast__information h1{
    width: 531px;
    font-family: 'Mont-Bold';
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 125.3%;
    letter-spacing: -0.02em;
    color: #03002B;
    margin: 40px 0 30px 0;
}

.podcast__information h2{
    width: 731px;
    font-family: 'Mont-Bold';
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 125.3%;
    letter-spacing: -0.02em;
    color: #03002B;
    margin: 30px 0 30px 0;
}

.podcast__information h5{
    font-family: 'Mont-Bold';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 135.3%;
    letter-spacing: -0.02em;
    color: #03002B;
    margin: 20px 0 5px 0;
}

.podcast__information__text{
    width: 699px;
    font-family: Judson;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 151.3%;
    color: #000000;
}

.podcast__information i{
    width: 330px;
    font-family: 'Mont-Light';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 135.3%;
    letter-spacing: -0.03em;
    color: #4F4F4F;
}

.youtube__video img{
    width: 1040px;
    height: 546px;
    margin: -30px 200px 10px 200px;
}
