/* <-------PRINCIPAL-------> */

.home__view {
    width: auto;
      background-image: linear-gradient(to bottom,#1c1b5200,#03002bd6),url(../../static/images/img/principal-image.png);
      background-size: 100%;
      margin: 0;
  }
  
  .home__view__figure {
    margin: 0;
    padding: 2% 0 0 192px;
  }

  .home__view__title {
    margin: 0.5% 0 1.5% 0;
  }
  
  .home__view h1 {
    width: 900px;
    font-family: 'Mont-Bold', Roboto;
    font-size: 35px;
    padding: 0px 0 0 192px;
    letter-spacing: -0.02em;
    color: #ffffff;
    line-height: 118.3%;
    margin: 0;
  }
  .home__view__subtitle {
    margin: -0.6% 0 2% 0;
  }
  .home__view h3 {
    width: 860px;
    font-size: 20px;
    padding: 0px 0 0 192px;
    letter-spacing: -0.02em;
    color: #e0e0e0;
    font-weight: 300;
    line-height: 118.3%;
    margin: 0;
  }
  /* <-------ANIMATION-------> */
  
  .slide-in-bottom-1 {
    animation: slide-in-bottom 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  }
  .slide-in-bottom-2 {
    animation: slide-in-bottom 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  }
  .slide-in-bottom-3 {
    animation: slide-in-bottom 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  }
  .slide-in-bottom-4 {
    animation: slide-in-bottom 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  }
  .slide-in-bottom-5 {
    animation: slide-in-bottom 2.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  }
  .slide-in-bottom-6 {
    animation: slide-in-bottom 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  }
  .slide-in-bottom-7 {
    animation: slide-in-bottom 3.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  }
  
  @keyframes slide-in-bottom {
    0% {
      transform: translateY(1000px);
      opacity: 0;
    }
    50% {
      transform: translateY(0);
      opacity: 0.5;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  /* <-------ANIMATION-------> */
  /* <-------PRINCIPAL-------> */
  
