.register{
  background-image: linear-gradient(to bottom,#03002B,#03002b80),url(../../static/images/img/log-in.png);
  background-size: cover;
  margin: 0;
  height: 140vh;
}

.register__img{
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -310%);
}

.register__box{
  width: 520px;
  height: 621px;
  background: #FFFFFF;
  box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.25);
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -45%);
}

.register__box__inside{
  margin: 25px 75px 50px 75px;
}

.register__box__inside__img{
  margin: 10px 0 0 90px;
}

.register__box__inside h1{
  font-family: 'Mont-Bold';
  font-style: normal;
  font-weight: 800;
  font-size: 31px;
  line-height: 135.3%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #03002B;
  margin: 20px 0 0 0;
}
.register__box__inside h2{
  font-family: 'Mont-Bold';
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 135.3%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #03002B;
  margin: 10px 0 20px 0px;
}
.register__box__inside h5{
  font-family: 'Mont-Semi-Bold';
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 135.3%;
  letter-spacing: -0.02em;
  color: #03002B;
  margin: 16px 0px 10px 0px;
}

.register__box__inside input{
  width: 365px;
  height: 37px;
  background: #FFFFFF;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
}

.btn__secundary--register{
  width: 169px;
  margin: 30px 0 0 100px;

}