.container__services {
    width: auto;
    height: 445px;
    background-color: #ffffff;
}

.container__services {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}

.title__services {
    width: 750px;
    height: 45px;
    font-family: Roboto;
    font-size: 40px;
    font-weight: normal;
    width: auto;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: 8.89px;
    text-align: center;
    color: #1b1f3b;
    margin-bottom: 50px;
}

.title__service {
    width: 263px;
    height: 60px;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #1b1f3b;

}

.img__service {
    width: 190px;
    height: 125px;
    object-fit: contain;
}
