.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #03002B;
    color: #fff;
    transition: all 0.3s;

    a {
        color: #BDBDBD;
    }

    a:hover {
        text-decoration: none;
    }

    img {
        width: 70px;
        margin: 0 auto;
        display: flex;
        margin-top: 40%;
        margin-bottom: 50px;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    ul {
        font-family: 'Mont-Bold';
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: -0.02em;
        justify-content: center;
        align-items: center;
        color: #BDBDBD;
        text-align: center;
        list-style: none;
        display: left;
        cursor: pointer;
        text-decoration: none;
        position: relative;
    }

    li {
        padding: 10px 0;
        margin: 10px 0;
    }

    li a {
        color: #BDBDBD;
    }

    li:hover {
        background: #B38A58;
        color: #fff;
        text-decoration: none;
    }

    .active li {
        background: #B38A58;
        color: #fff;
    }
}