@import "./Fonts.scss";
@import "./Vars.scss";
@import "./Button.scss";

body {
  margin: 0;
  font-family: 'Mont-Regular';
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  width: 100%;
}

#content {
  width: calc(100% - 250px);
  padding: 40px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

.admin {
  background-image: linear-gradient(to bottom, #03002B, #03002b80), url(../static/images/img/log-in.png);
  background-size: cover;
  height: 100vh;
}

.administratorButton {
  background: #B38A58;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.53);
  border-radius: 2px;
  outline: none;
  font-family: 'Mont-Bold';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #03002B;
  border: none;
  padding: 10px 20px;
}

.teacherButton {
  background: #03002B;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.53);
  border-radius: 2px;
  outline: none;
  font-family: 'Mont-Bold';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
}

.adminLogo {

  img {
    width: 250px;
  }

  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.addButton button {
  color: #f2f2f2;
  font-size: 15px;
  border: 1px solid #b38a58;
  cursor: pointer;
  background-color: #b38a58;
  border-radius: 2px;
  font-weight: bold;
}

.addButton button:hover,
.addButton button:active,
.addButton button:focus,
.addButton button:focus-within,
.addButton button:not(:disabled):not(.disabled):active {
  background-color: #BDBDBD;
}

.section_title {

  h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #03002B;

  }
}

.category_collapse {
  margin: 30px 5px 30px 0px;
}

.category_collapse_area h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #4F4F4F;
  margin: 10px 0 10px 0;
}

.category_collapse_area input {
  width: 437px;
  height: 29px;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 2px;
}

.category_collapse_area {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px 15px;
  border-radius: 10px;
}

.filters {
  p {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    color: #4F4F4F;
    margin-right: 8px;
  }
}

.insideTableSection {
  background: #FFFFFF;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.24);
  border-radius: 5px 5px 0px 0px;
}

.restoreTrash {
  color: #B38A58;
  font-weight: 600;
  cursor: pointer;
}

.deletePermanently {
  font-style: italic;
  cursor: pointer;
}

.sendToTrash {
  cursor: pointer;
}

.loginBox {
  background: #03002B;
  margin: 0 auto;
  border-radius: 0px 2px 2px 2px;
  width: 100%;

  h5 {
    font-family: 'Mont-Bold';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 130.7%;
    color: #B38A58;
    margin: 50px 0 30px 0;
  }

  input[type="text"],
  input[type="password"] {
    background: #F2F2F2;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: normal;
    border-radius: 3px;
    width: 100%;
    height: 45px;
  }

  .insidePadding {
    padding: 20px 35px;
  }

  #rememberme {
    align-self: normal;
  }

  label {
    color: #FFFFFF;
  }
}

input[type="text"] {
  font-family: Mont-Regular;
  font-size: 12px;
}

input:focus {
  outline: solid 1px #b38a58;
}

textarea:focus {
  outline: solid 1px #b38a58;
}