@font-face {
    font-family: "Judson";
    src: url("../static/images/fonts/Judson-Regular.ttf");
  }
@font-face {
    font-family: "Mont-Black-Italic";
    src: url("../static/images/fonts/Mont-Black-Italic.otf");
  }
@font-face {
  font-family: "Mont-Black";
  src: url("../static/images/fonts/Mont-Black.otf");
}
@font-face {
    font-family: "Mont-Bold-Italic";
    src: url("../static/images/fonts/Mont-Bold-Italic.otf");
  }
@font-face {
  font-family: "Mont-Bold";
  src: url("../static/images/fonts/Mont-Bold.otf");
}
@font-face {
    font-family: "Mont-Light";
    src: url("../static/images/fonts/Mont-Extra-Light.otf");
  }
@font-face {
    font-family: "Mont-Light-Italic";
    src: url("../static/images/fonts/Mont-ExtraLight-Italic.otf");
  }
@font-face {
  font-family: "Mont-Heavy-Italic";
  src: url("../static/images/fonts/Mont-Heavy-Italic.otf");
}
@font-face {
  font-family: "Mont-Heavy";
  src: url("../static/images/fonts/Mont-Heavy.otf");
}
@font-face {
  font-family: "Mont-Light-Italic";
  src: url("../static/images/fonts/Mont-Light-Italic.otf");
}
@font-face {
  font-family: "Mont-Light";
  src: url("../static/images/fonts/Mont-Light.otf");
}
@font-face {
  font-family: "Mont-Regular-Italic";
  src: url("../static/images/fonts/Mont-Regular-Italic.otf");
}
@font-face {
  font-family: "Mont-Regular";
  src: url("../static/images/fonts/Mont-Regular.otf");
}
@font-face {
  font-family: "Mont-Semi-Bold-Italic";
  src: url("../static/images/fonts/Mont-SemiBold-Italic.otf");
}
@font-face {
  font-family: "Mont-Semi-Bold";
  src: url("../static/images/fonts/Mont-SemiBold.otf");
}
@font-face {
  font-family: "Mont-Thin-Italic";
  src: url("../static/images/fonts/Mont-Thin-Italic.otf");
}
@font-face {
  font-family: "Mont-Thin";
  src: url("../static/images/fonts/Mont-Thin.otf");
}